.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #000;
  overflow: hidden;
  position: relative;
  font-family: 'Arial', sans-serif;
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  background: black;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  transition: opacity 0.3s ease;
}

.controls button,
.controls input[type="range"],
.controls select {
  margin: 0 10px;
}

.controls button {
  background-color: #1f1f1f;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
  background-color: #ff6600;
  transform: scale(1.1);
}

.controls input[type="range"] {
  flex-grow: 1;
  appearance: none;
  background: #555;
  height: 5px;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s ease;
}

.controls input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #fe6601cc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls input[type="range"]:hover {
  background: #777;
}

.controls select {
  background-color: #1f1f1f;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls select:hover {
  background-color: #fe6601;
}

.play-btn {
  margin-right: auto;
}

.volume {
  max-width: 120px;
}


.upload-file {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.upload-file:hover {
  background-color: #333;
}

